report {
    enabled = true
    overwrite = false
}

profiles{
    singularity_local {
        singularity.enabled = true
        singularity.runOptions="--writable-tmpfs" // Needed for FastQC
        process.container = "${projectDir}/envs/mc-spike.img"
    }
    singularity_library {
        singularity.enabled = true
        singularity.cacheDir = "${projectDir}/envs"
        singularity.runOptions="--writable-tmpfs" // Needed for FastQC
        process{
            container = "library://rhaagmans/mc-spike/mc-spike:1.0"
        }
    }
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process{
            container = "rhaagmans/mc-spike:1.0"
            withName: "DL_GENOMAD"{
                containerOptions = '-u $(id -u):$(id -g)'
                }
            withName: "DL_CHECKV"{
                containerOptions = '-u $(id -u):$(id -g)'
                }
        }
    }
    conda {
        conda.enabled = true
        process{
          conda = "${projectDir}/envs/ubuntu-mc-environment.yml"
        }
    }
    vm {
        base_dir="/home/ubuntu/group-hpc"
        params{
            samples         = "${projectDir}/manuscript_data/sample_sheet.csv"
            vlp_counts      = "${projectDir}/manuscript_data/mock_community_particles_added.csv"
            mc_refnames     = "${projectDir}/manuscript_data/mock_community_ref_to_virus.csv"
            reads           = "${projectDir}/reads/raw/"
            data_out        = "${projectDir}"
            mc_fasta        = "${projectDir}/manuscript_data/mcspike-ref-seqs.fasta"
            checkv_scripts  = "${projectDir}/scripts" 
            db_dir          = "${projectDir}/dbs/"
            ictv_vmr        = ""
            assembly_groups = ["assembly", "coassembly"]
        }
        
        executor.name="local"
        executor.cpus=8
        executor.memory=32.Gb
        
        process{
            executor = "local"
            withName: "DL_GENOMAD"{ cpus = 1; memory = 1.GB}
            withName: "DL_CHECKV"{cpus = 1; memory = 1.GB}
            withName: "DL_ICTV_VMR"{cpus = 1; memory = 1.GB}
            withName: "READ_QC" {cpus = 4; memory = 8.GB}
            withName: "MULTIQC" {cpus = 1; memory = 1.GB}
            withName: "READ_STATS" {cpus = 1; memory = 1.GB}
            withName: "READ_DEDUP" {cpus = 1; memory = 1.GB}
            withName: "GET_DUP_RATE"{cpus = 1; memory = 1.GB}
            withName: "CONCAT_DUP_RATE"{cpus = 1; memory = 1.GB}
            withName: "BUILD_MC_IDX" {cpus = 4; memory = 4.GB}
            withName: "MAP_MC_READS" {cpus = 8; memory = 16.GB}
            withName: "MC_READMAP_STATS" {cpus = 8; memory = 16.GB}
            withName: "CONCAT_STATS" {cpus = 1; memory = 1.GB}
            withName: "ASSEMBLER" {cpus = 8; memory = 32.GB}
            withName: "CDHIT" {cpus = 8; memory = 5.GB}
            withName: "BLAST_DB" {cpus = 1; memory = 5.GB}
            withName: "BLAST_CONTIGS" {cpus = 8; memory = 8.GB}
            withName: "ANI_CALC" {cpus = 1; memory = 1.GB}
            withName: "ANI_FILTER" {cpus = 1; memory = 1.GB}
            withName: "BUILD_ASSEMBLY_INDEX" {cpus = 1; memory = 8.GB}
            withName: "MAP_ASSEMBLY_READS" {cpus = 8; memory = 8.GB}
            withName: "ASSEMBLY_READMAP_STATS"{cpus = 1; memory = 1.GB}
            withName: "CONCAT_ASSEMBLY_READMAP_STATS" {cpus = 1; memory = 1.GB}
            withName: "ASSEMBLY_STATS" {cpus = 1; memory = 1.GB}
            withName: "CONTIG_STATS"{cpus = 1; memory = 1.GB}
            withName: "CONCAT_CONTIG_STATS"{cpus = 1; memory = 1.GB}
            withName: "QUAST" {cpus = 8; memory = 16.GB}
            withName: "GENOMAD"{cpus = 8; memory = 32.GB}
            withName: "CONCAT_GENOMAD"{cpus = 1; memory = 1.GB}
            withName: "MC_BLAST"{cpus = 1; memory = 1.GB}
            withName: "CONCAT_MC_BLAST"{cpus = 1; memory = 1.GB}
            withName: "FILTER_VIRAL"{cpus = 1; memory = 1.GB}
            withName: "CHECKV"{cpus = 8; memory = 32.GB}
            withName: "CREATE_TAX_TABLE"{cpus = 1; memory = 1.GB}
            withName: "ADD_TAX_LINEAGE"{cpus = 1; memory = 1.GB}
        }
    }

    hpc {
        base_dir="/qib/research-groups/Simon-Carding"
        params{
            samples         = "${projectDir}/manuscript_data/sample_sheet.csv"
            vlp_counts      = "${projectDir}/manuscript_data/mock_community_particles_added.csv"
            mc_refnames     = "${projectDir}/manuscript_data/mock_community_ref_to_virus.csv"
            reads           = "${projectDir}/reads/raw/"
            data_out        = "${projectDir}"
            mc_fasta        = "${projectDir}/manuscript_data/mcspike-ref-seqs.fasta"
            checkv_scripts  = "${projectDir}/scripts" 
            db_dir          = "${projectDir}/dbs/"
            ictv_vmr        = ""
            assembly_groups = ["assembly", "coassembly"]
        }

        singularity.enabled = true
        singularity.runOptions="--writable-tmpfs"

        executor{
            name="slurm"
            queueSize=20
        }

        process{
            executor = "slurm"
            container = "/hpc-home/haagmans/tools/singularity_imgs/mc_cloud/ubuntu22-mc-cloud.img"
            queue = "qib-medium,nbi-medium"
            withName: "DL_GENOMAD"{cpus = 1; memory = 4.GB}
            withName: "DL_CHECKV"{cpus = 1; memory = 4.GB}
            withName: "DL_ICTV_VMR"{cpus = 1; memory = 4.GB}
            withName: "READ_QC" {cpus = 8; memory = 8.GB}
            withName: "MULTIQC" {cpus = 1; memory = 8.GB}
            withName: "READ_STATS" {cpus = 1; memory = 1.GB}
            withName: "READ_DEDUP" {cpus = 1; memory = 1.GB}
            withName: "GET_DUP_RATE"{cpus = 1; memory = 1.GB}
            withName: "CONCAT_DUP_RATE"{cpus = 1; memory = 1.GB}
            withName: "BUILD_MC_IDX" {cpus = 4; memory = 4.GB}
            withName: "MAP_MC_READS" {cpus = 16; memory = 16.GB}
            withName: "MC_READMAP_STATS" {cpus = 16; memory = 16.GB}
            withName: "CONCAT_STATS" {cpus = 1; memory = 1.GB}
            withName: "ASSEMBLER" {cpus = 16; memory = 50.GB}
            withName: "CDHIT" {cpus = 8; memory = 5.GB}
            withName: "BLAST_DB" {cpus = 1; memory = 5.GB}
            withName: "BLAST_CONTIGS" {cpus = 8; memory = 8.GB}
            withName: "ANI_CALC" {cpus = 1; memory = 1.GB}
            withName: "ANI_FILTER" {cpus = 1; memory = 1.GB}
            withName: "BUILD_ASSEMBLY_INDEX" {cpus = 1; memory = 8.GB}
            withName: "MAP_ASSEMBLY_READS" {cpus = 16; memory = 8.GB}
            withName: "ASSEMBLY_READMAP_STATS"{cpus = 1; memory = 1.GB}
            withName: "CONCAT_ASSEMBLY_READMAP_STATS" {cpus = 1; memory = 1.GB}
            withName: "ASSEMBLY_STATS" {cpus = 1; memory = 1.GB}
            withName: "CONTIG_STATS"{cpus = 1; memory = 1.GB}
            withName: "CONCAT_CONTIG_STATS"{cpus = 1; memory = 1.GB}
            withName: "QUAST" {cpus = 16; memory = 16.GB}
            withName: "GENOMAD"{cpus = 32; memory = 32.GB}
            withName: "CONCAT_GENOMAD"{cpus = 1; memory = 1.GB}
            withName: "MC_BLAST"{cpus = 1; memory = 1.GB}
            withName: "CONCAT_MC_BLAST"{cpus = 1; memory = 1.GB}
            withName: "FILTER_VIRAL"{cpus = 1; memory = 1.GB}
            withName: "CHECKV"{cpus = 16; memory = 32.GB}
            withName: "CREATE_TAX_TABLE"{cpus = 1; memory = 1.GB}
            withName: "ADD_TAX_LINEAGE"{cpus = 1; memory = 1.GB}
        }

    }
}